.stat-con {
    padding: 2rem 0;
    margin: auto;
    width: 95%;
  }
  
  .stat-con-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
  
  .stat-box {
    padding: 1rem;
    background: var(--secondary-color-md);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--tertiary-color);
  }
  
  .stat-box .chart-icon {
    font-size: 1.4rem;
  }
  
  .stat-box-btm b {
    font-size: 1.2rem;
  }
  
  
  
  
  
  @media screen and (max-width:1100px) {
    .stat-con-flex {
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
    }
  
  }
  
  @media screen and (max-width: 300px) {
    .stat-con-flex {
      grid-template-columns: 1fr;
  
    }
  
  }