header{
    width: 100%;
    height: 4rem;
    background: inherit;
}

.navbar{
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_left{
    display: flex;
    align-items: center;
    gap: .2rem;
}

.logo_img{
    width: 1.8em;
}

.logo_txt{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--tertiary-color);
}

.menu_links{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 1.2rem;
}

.menu_links li a{
    font-size: 1.02rem;
    font-weight: 400;
    color: var(--tertiary-color); 
}

.account_link{
    display: flex;
    align-items: center;
    gap: .3rem;
}


.account_link img{
    margin-top: .3rem;
    width: 1rem;
}

.mobile-packages-link{
    display: none;
}

.d-packages{
    display: none;
}

.mobile-only-link{
    display: none;
}
.navbar_right button{
    margin-top: 1rem;
    padding: .7rem 1rem;
    font-size: 1.02rem;
    font-weight: 400;
    background: var(--secondary-color);
    color:var(--tertiary-color) ;
    border-radius: var(--border-radius);
}





/* dropdown */

.dropdown-menu{
    padding: .3rem;
    width: 5rem;
    height: fit-content;
    background: var(--secondary-color);
    position: absolute;
    top: 4rem;
    right: 30%;
    border-radius: var(--border-radius-md);
    box-shadow: 5px 6px var(--primary-color-md);


}
.opendropdown{
    display: block;
}

.closedropdown{
    display: none;
}

.dp_links{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--tertiary-color);
}

.dp_links li{
  
    padding: .5rem .2rem;
    width: 100%;
    border-radius: var(--border-radius-md);
}
.dp_links li a{
    font-weight: 500;
}



.dp_links li:hover a {
    color: var(--primary-color);

}

@media screen and (max-width:700px){
    
    .navbar_right{
        display: none;
    }

    .navbar{
        width: 100%;
        padding: 0 1rem;
    }

    .dropdown-menu{
        display: none;
    }

    .navbar_middle{
        position: fixed;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--secondary-color);
        z-index: 2;
        overflow: hidden;

    }

    .d-packages{
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: .5s;
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background: #307051;
        
    }
    

    .d-packages li a {
        color: var(--tertiary-color);
    }
   
    
    
    .active-packages{
        max-height: 20rem;
        
    }

    .p-angle{
        cursor: pointer;
    }

    .blur{
        position: fixed;
        top: 4rem;
        left: 0;
        width: 0%;
        height: 100%;
        background: rgba(0, 0, 0, 0.257);
        z-index: 1;
    }

    .blur.active{
        width: 100%;
        transition: .2s ease-in-out;
    }

    .navbar_middle.active{
        width: 80%;
        transition: .2s ease-in-out;
    }

   
    .menu_links{
        padding-bottom: 2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu_links  li{
        width: 100%;
        font-size: 1.5rem;
        padding: .4rem 1rem;
        position: relative;
        border-bottom: 1px solid var(--tertiary-color);
    }
    


    .account_link{
        display: none;
    }
    
    .mobile-packages-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    .desktop-packages-link{
        display: none;
    }

    .mobile-only-link{
        display: initial;
    }

    .hamburger{
        display:block;
        padding-top: .4rem;
        cursor: pointer;
        
    }

    .bars-div div{
        width: 26px;
        height: 3px;
        margin: 6px 0;
        transition: .5s;
        background: var(--tertiary-color);
       
    }

    
    .open .bar1{
        
        -webkit-transform: rotate(-45deg) translate(-6px,6px);
        transform:rotate(-45deg) translate(-6px,6px);
        transition: .5s;
    }

   

  

    .open .bar2{
       opacity: 0;
    }

 

    .open .bar3{
        
        -webkit-transform: rotate(45deg) translate(-6px,-8px);
        transform:rotate(45deg) translate(-6px,-8px);
        transition: .5s;
    }

   

   
    
}


@media  screen and (max-width:300px) {
    .d-packages{
        grid-template-columns: 1fr;
        
    }
}