
/* showcase */

.showcase{
    padding: 2rem 0;
    width: 100%;
    position: relative;
}

.showcase_img_box{
    width: 90%;
    height: 22rem;
    margin: auto;
    opacity: .9;
}

.showcase_img_box img{
    width: 100%;
    height: 100%;
}

.scattered img{
    position: absolute;   
}

.scattered .shape3{
    width: 1.8rem;
    height: 2.4rem;
    top:6%;
    left: 5%;
}

.scattered .path4{
    width: 6.2rem;
    height: 2.6rem;
    top:6%;
    right: 5%;
}

@media screen and (max-width:1000px){
    .showcase_img_box{
        width: 100%;
        height:auto;
    }
}


@media screen and (max-width:700px){

    
.showcase{
    padding: .1rem 0;
    overflow: hidden;
  
}
    .showcase_img_box{
        width: 50rem;
        height:auto;
        
   
    }

    .showcase_img_box img{
        width: 100%;
        
    }
}


