.auth {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    padding: 1rem;
    background: var(--primary-color);

}

.register {
    height: 100%;
}

.auth__splash_logo {
    width: 3.8rem;
    height: 3.8rem;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;

}

.auth h1 {
    padding: .1rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--tertiary-color);
}

.auth__form {
    padding-top: 2rem;
    width: 100%;
    height: auto;
}

.auth__input_box {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.auth__input_box span {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    border: 2px solid var(--secondary-color);
    border-radius: .7rem;
}

.auth__input_box label {
    font-size: 1.1rem;
    color: var(--tertiary-color);
    padding: 0 0 .3rem 0;
}

.auth__input_box input {
    width: 100%;
    padding: .8rem 0;
    background: none;
    color: var(--tertiary-color) !important;  
}





.auth__icon {
    color: var(--secondary-color);
    font-size: 1rem;
    background: var(--primary-color-md);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    border-radius: .2rem;

}

.invalid-icon {
    background: var(--error-color-light);
    color: var(--error-color);
}

.auth__btn {
    margin: 3rem 0;
    width: 100%;
    padding: .8rem;
    border-radius: 1.4rem;
    color: var(--tertiary-color);
    background: var(--secondary-color);
}

.account-condition {
    text-align: center;
    font-size: 1rem;
    color: var(--tertiary-color);

}

.account-condition a {
    color: var(--secondary-color);
}

@media (max-width:700px) {
    
}

@media (max-width:18rem) {
    .auth h1 {
        font-size: 1.1rem;
    }

}