@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #0D1F11;
  --primary-color-md: #163D2A;
  --secondary-color: #2FB574;
  --secondary-color-md: #2fb5743f;
  --tertiary-color: #FFFFFF;
  --dark-color: #000;
  --border-radius: 3rem;
  --border-radius-md: .3rem;


}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

body {
  width: 100%;
  background: var(--primary-color) !important;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}

input {
  border: none;
  outline: none;
  -webkit-text-fill-color: #ffffffee;
  Box-shadow: 0 0 0 40px var(--primary-color) inset ! important ;
}

.App {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;

}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-bottom: 10px solid var(--primary-color-md);
}

.user {
  display: flex;
  gap: 1rem;

}

@media screen and (max-width: 768px) {
  .user {
    display: inherit;

  }

  .user-main {
    width: 100% !important;
  }
}

.user-main {
  width: 80%;
  min-height: 100vh;
  background-color: var(--primary-color-md) !important;
  position: relative;
}

.user-main h2 {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--tertiary-color);
}







.logged_in_user_home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-color);
}

.logged_in_user_home h2 {
  font-size: 1.2rem;
}

.logged_in_user_home h2 a {
  color: var(--secondary-color);
  font-weight: 500;
}


/* Admin login style */

.admin-login {
  width: 100%;
  height: 100%;
}

.admin-login-con {
  padding-top: 3rem;
  margin: auto;
  width: 50%;
}

.admin-login-con h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--tertiary-color);
}


/* Admin packages */

.packages-grid.admin {
  padding: 2rem 0;
}

.admin-package-update-btn {
  width: fit-content !important;
}

.trash-package {
  color: red;
  cursor: pointer;
}


/* New package styles */

.pkg-form-con {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(19, 23, 19, 0.344);
}

.pkg-form-con form {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}


.pkg-form-con form label {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--tertiary-color);
}

.pkg-form-con form input {
  margin-top: .4rem;
  padding: .8rem;
  width: 100%;
  background: var(--primary-color-md);
  border-radius: var(--border-radius-md);
  color: var(--tertiary-color);
}

.check-active {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.pkg-form-con form button {
  font-size: 1.2rem;
  width: 100%;
  padding: .8rem;
  color: var(--tertiary-color);
  background: var(--secondary-color);
  border-radius: var(--border-radius-md);
}

@media screen and (max-width: 1000px) {

  .pkg-form-con {
    padding: 2rem 0;
  }

  .pkg-form-con form {
    width: 80%;
    height: 100%;
  }
}


@media screen and (max-width: 768px) {


  .pkg-form-con form {
    width: 90%;
  }
}

/* Users styles */


.users-table-con {
  padding: 1rem;
  margin: auto;
  width: 80%;
  background: rgba(19, 23, 19, 0.344);
  overflow: auto !important;
}


.users-table-con table {
  width: 100%;
  text-align: left;
}

.users-table-con table thead {
  color: var(--tertiary-color);
}

.users-table-con table thead th {
  padding-bottom: 1rem;
}

.users-table-con table tbody {
  color: var(--secondary-color);
}


.users-table-con table td {
  padding: 1rem 0;
}



.users-table-con table .delete-user {
  color: #ff0000;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.users-table-con table .delete-user:hover {
  transform: scale(1.1);
}


@media screen and (max-width:768px) {

  .users-table-con {
    width: 95%;

  }


  .users-table-con table {}
}


/* unauthorized */
.unauthorized {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* unauthorized */
.unauthorized div {
  text-align: center;
}

.unauthorized div h2 {
  font-size: 2rem;
  color: var(--tertiary-color);
}


.unauthorized div p {
  font-size: 1rem;
  color: var(--tertiary-color);
}

/* Page not found */

.page-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  text-align: center;
  color: var(--tertiary-color);
}

.page-not-found h2{
  font-size: 5rem;
}

.page-not-found h3{
  font-size: 2rem;
}


.page-not-found button{
  margin-top: 1rem;
  padding: .6rem 2rem;
  color: var(--secondary-color);
    background: var(--tertiary-color);
    border-radius: var(--border-radius-md);
}

